*{
margin: 0;
padding: 0;
box-sizing: border-box; 
}
body {
    align-items: center;
    height: auto;
    font-family: Arial, sans-serif;
    background-image: url(./imagenes/3d-speech-bubbles-with-question-marks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 120px;
    /* color: #333; */
    }

.basico {
    display: flex;
    flex-direction: column;  
    align-content: center;
    background-image: url(./imagenes/3d-speech-bubbles-with-question-marks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    background-color: rgb(18, 6, 98);
    padding: 20px;
    border-radius: 10px;
    /* border: 2px black solid; */
    margin: 200px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    }

        h1 {
            color: #010101;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

        input[type="button"],
        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="button"]:hover,
        button:hover {
            background-color: #0056b3;
        }

        #b1 {
            display: none;
            margin-top: 20px;
        }

        .respuesta {
            margin-top: 10px;
        }